/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
 background: url("home_bg.jpg") no-repeat center center fixed #324a6f;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover; 
}
body a {
   color: #ccc;
}
h1 {
  color: #fff;
}

#restaurants_holder {
  clear: both;
}

  #restaurants_holder .single_restaurant {
    width:200px;
    height:200px;
    float:left;
    border:1px solid #ccc;
    margin:40px;
    text-align:center;
    position:relative;
    border-radius:10px;
  }
    #restaurants_holder .single_restaurant a{
      text-decoration:none;

    }
    #restaurants_holder .single_restaurant a:hover{
      text-decoration:none;

    }
    #restaurants_holder .single_restaurant .vote_bar_holder {
      position: absolute;
      left:0;
      bottom:0;
    }
    #restaurants_holder .single_restaurant .vote_bar {
      width: 20px;
      background:green;
      
      border-bottom-left-radius:10px;
    }
    #restaurants_holder .single_restaurant .vote_bar .votes {
      background: red;
    }

#user_holder {
  clear: both;
}

#user_holder .single_user_shadow {
  background: url(background_shadow.png);
  width: 212px;
  height: 212px;
  float:left;
  margin:40px;
}

#user_holder .single_user {
  color: #96846c;
  width:200px;
  height:200px;
  margin: 3px 0 0 3px;
  text-align:center;
  border-radius:5px;
  background:#edede5;
}

#user_holder .single_user .user_name {
  color: #fff;
  height:50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 20px;
  vertical-align: middle;
  line-height: 50px;
  position: relative;
  background: #97ce68;
}

#user_holder .single_user .user_name .copy {
  background: url(copy_icon.png);
  height:17px;
  width: 17px;
  position:absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#food {
  width: 170px; 
  height: 115px;
  resize: none;
}